.sidemenu {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20vw;
  height: 100vh;
  background: #ffffff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.04);
}

.sidemenu_brand {
  height: 25vh;
  padding-top: 25px;
  background-color: #194af5;
  background: linear-gradient(
    136.9deg,
    #eef7ff 20%,
    rgba(238, 247, 255, 0) 56%,
    rgba(238, 247, 255, 0) 108.68%
  );
}

.brand--logo {
  margin: 0 auto;
  display: block;
  cursor: pointer;
  max-width: 100%;
}

.sidebar_menu_item {
  padding: 10px 15px 10px 30px;
  display: flex;
  align-items: center;
  width: 90%;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
  margin-top: 0.5vw;
  text-decoration: none;
  color: #000;
}

.menu--icon {
  width: 1.8vw;
  height: 1.8vw;
  margin-right: 10px;
  /* padding-bottom: 0.1vw; */
}

.menu--text {
  font-weight: 500;
  font-size: 1.15vw;
  line-height: 20px;
  margin-top: 0.2vw;
}
/* .menu--text.large {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.9px;
} */
.sidebar_menu_item:hover {
  color: #194af5;
  background: #e6ebff;
}

.sidebar_menu_item:hover svg path {
  fill: #194af5;
}

.checked {
  color: #194af5;
  background: #e6ebff;
}

.checked svg path {
  fill: #194af5;
}

.sidebar_menu_item path {
  fill: #b7b7b7;
}

.sidemenu_btn {
  position: absolute;
  bottom: 3vw;
  left: 1.5vw;
  width: 80%;
  font-weight: 600;
  font-size: 1vw;
  color: #194af5;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
  border-radius: 80px;
  padding: 8px;
  cursor: pointer;
  text-align: center;
}

.sidemenu_btn:active {
  transform: scale(0.99);
}
@media only screen and (max-width: 850px) and (min-width: 760px) {
  .sidemenu {
    width: 25vw;
  }
  .sidebar_menu_item {
    padding: 10px 15px 10px 10px;
  }
}
@media only screen and (max-width: 1190px) and (min-width: 850px) {
  .sidemenu {
    width: 23vw;
  }
  .sidebar_menu_item {
    padding: 10px 15px 10px 15px;
  }
}
