.prescription_outlet {
  position: absolute;
  left: 16vw;
  top: 80px;
  background: #f6f6f7;
  height: 100vh;
  width: 84vw;
  overflow: scroll;
}
.prescription_content label {
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  width: 100%;
}
.vitals_header {
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}
.vitals_edit_cta {
  color: #194af5;
  font-size: 16px;
  cursor: pointer;
  margin-left: 5px;
}
.prescription_container {
  padding: 50px;
}
.prescription_content {
  margin-bottom: 30px;
  /* position: relative; */
}
.prescription_textarea {
  border-radius: 8px;
  border: none;
  padding: 20px;
}
.prescription_textarea:focus {
  outline: 1px solid #194af5;
}
.prescription_input {
  display: block;
  width: 95%;
  padding: 20px;
  margin-bottom: 20px;
  background: #fdfdff;
  border-radius: 4px;
  border: none;
}
.text_name_input .css-13cymwt-control {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  /* background: #fdfdff; */
  border-radius: 4px;
  /* background-color: red !important; */
}
.text_name_input .css-13cymwt-control,
.text_name_input .css-t3ipsp-control:focus {
  border: none;
  outline: none;
}
.text_name_input .css-t3ipsp-control {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  /* background: #fdfdff; */
  border-radius: 4px;
  /* background-color: red !important; */
}
.text_name_input .css-1nmdiq5-menu {
  width: 95%;
}
.prescription_input:focus {
  outline: 1px solid #194af5;
}
.prescription_input::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 31px;
  color: #b7b7b7;
}

.point-table-head {
  background: rgba(238, 242, 255, 0.72);
}
.table_prescription {
  width: 95%;
  border-radius: 4px;
  border: 1px solid #d6d6d6;
  background-color: #fff;
}
.table_prescription thead tr th {
  padding: 20px;
  border: 1px solid #d6d6d6;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #505050;
}

.table_prescription tr td {
  padding: 15px 20px;
  border: 1px solid #d6d6d6;
}
.prescription_table_input {
  border: none;
  width: 100%;
  text-align: center;
}
.prescription_table_input:focus {
  outline: none;
  text-align: left;
}
.prescription_table_input::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #b7b7b7;
  text-align: center;
}
.small_box {
  max-width: 100px;
}
.delete_small_box svg {
  cursor: pointer;
}
.delete_small_box {
  max-width: 4em;
}
.prescription_date_input {
  border-radius: 8px;
  border: none;
  padding: 10px;
  width: 30%;
}
input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}
.addrow_btn {
  background-color: #194af5;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  margin-top: 20px;
  margin-right: 60px;
  font-size: 14px;
}
.follow_up_date {
  padding: 10px;
  border: none;
}
.addtest_btn {
  background-color: #194af5;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 60px;
  font-size: 14px;
}
.save_btn {
  background: #e6ebff;
  border-radius: 4px;
  border: none;
  padding: 8px 20px;
  margin-right: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #194af5;
}
.submit_btn {
  background: #194af5;
  border-radius: 4px;
  border: none;
  color: #fff;
  padding: 8px 0;
  width: 120px;
  margin-right: 20px;
}
.submit_btn:disabled {
  background: #fff;
  color: #000;
  cursor: no-drop;
}
.save_btn:disabled {
  background: #fff;
  color: #000;
  cursor: no-drop;
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  background-color: #fff !important;
  border: none !important;
  outline: none !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}
.enter_icon {
  margin-left: 5px;
}
.enter_icon path {
  fill: #fff;
}
.drug_suggestion {
  background-color: #fff;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  position: absolute;
  top: 50px;
  z-index: 10;
  left: 0%;
  width: 50em;
}
.drugname_input {
  position: relative;
}
/* .text_name_input {
  position: relative;
} */

.drug_suggestion_card {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  text-align: justify;
}
.drug_suggestion_card.active {
  background-color: #d6d6d6;
}
.drug_suggestion_card:hover {
  background-color: #d6d6d6;
}
.drug_suggestion_card:focus {
  background-color: #d6d6d6;
}
.manufacturer {
  color: #194af5;
  font-size: 12px;
}
/* Chips for input */
.tags-input {
  width: 95%;
  flex-wrap: wrap;
  display: flex;
  align-items: start;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  min-height: 150px;
  cursor: text;
}
.tags-input:focus-within {
  border: 1px solid #194af5;
}
.tags-input .complain_textarea {
  border: none;
  font-size: 14px;
  padding-top: 10px;
  resize: none;
  white-space: nowrap;
}
.complain_textarea::-webkit-scrollbar {
  display: none;
}
.tags-input .complain_textarea:focus {
  outline: none;
}
.tags-input .diagnose_textarea {
  border: none;
  font-size: 14px;
  padding-top: 10px;
  resize: none;
  white-space: nowrap;
}
.tags-input .diagnose_textarea:focus {
  outline: none;
}
.diagnose_textarea::-webkit-scrollbar {
  display: none;
}
.tags-input .treatment_textarea {
  border: none;
  font-size: 14px;
  padding-top: 10px;
  resize: none;
  white-space: nowrap;
}
.tags-input .treatment_textarea:focus {
  outline: none;
}
.treatment_textarea::-webkit-scrollbar {
  display: none;
}
.advice_textarea {
  border: none;
  font-size: 14px;
  padding: 10px;
  resize: none;
  white-space: nowrap;
  outline: none;
  width: 95%;
  border-radius: 4px;
  min-height: 150px;
}
.advice_textarea:focus {
  border: 1px solid #194af5;
}
.advice_textarea::-webkit-scrollbar {
  display: none;
}

#tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

#tags li {
  list-style-type: none;
}

.tag {
  max-width: 95%;
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  font-size: 16px;
  list-style: none;
  border-radius: 6px;
  margin: 8px;
  background: #e6ebed;
  border-radius: 4px;
  color: #232526;
}
.tag-title {
  margin-top: 3px;
  cursor: default;
}
.tag-title:hover {
  color: #194af5;
}
.tag-close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 13px;
  text-align: center;
  font-size: 12px;
  margin-left: 8px;
  color: #fff;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  margin-bottom: -2px;
}
.delete_template_btn {
  background: #c7373f;
  border-radius: 4px;
  border: none;
  color: #fff;
  padding: 8px 0;
  width: 120px;
  margin-right: 20px;
}
.follow_up_line {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.follow_up_clinic_selector {
  display: grid;
  margin: 0 3em;
  align-items: flex-end;
  margin-top: 40px;
}
.react-select-container {
  width: 100%;
}
