.appointments--container {
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  background: #fff;
  height: 60vh;
  overflow-y: auto;
}
.appointments--container2 {
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  background: #fff;
  height: 80vh;
  overflow-y: auto;
}
.appointments--container::-webkit-scrollbar-thumb {
  background: transparent !important;
}
.appointments--header {
  padding: 20px 20px 10px 20px;
  border-bottom: 1px solid #e6ebed;
  background: #fff;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appointments--title {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.appointment--card--gender {
  display: inline-block;
  width: 50px;
  margin-right: 5px;
}
.appointment--card--age {
  display: inline-block;
  margin-right: 5px;
}
.appointment--card--gender,
.appointment--card--age {
  font-size: 14px;
}
.appointment--card--date {
  display: inline-block;
}
.appointments--body {
  padding: 0 1em;
  height: 80%;
}

.appointment--card {
  width: 100%;
  margin: 22px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appointment--card--profile {
  font-weight: 500;
  font-size: 14px;
  color: #5a6472;
  background: #e6ebff;
  border: 1px solid #f8f8f8;
  width: 40px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.appointment--card--detials {
  display: table-cell;
  font-weight: 400;
  font-size: 14px;
  color: #a9abad;
}

.appointment--card--time {
  padding-left: 1em;
  font-weight: 400;
  font-size: 14px;
  color: #5a6472;
  margin: 0 20px;
}

.appointment--card--name {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #232526;
  margin-bottom: 5px;
  /* min-width: 10em; */
  inline-size: 10em;
  overflow-wrap: break-word;
}

.appointment--card--location {
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  color: #5a6472;
  background: rgba(146, 219, 149, 0.21);
  border-radius: 2em;
  padding: 5px 10px;
}
.appointment--card--location_walkin {
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  color: #5a6472;
  background: #e6ebff;
  border-radius: 2em;
  padding: 4px 8px;
}
.appointments--card--buttons {
  display: table-cell;
  vertical-align: top;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #f8f8f8;
}

.appointments--card-button--group {
  float: right;
}

.appointments--card--button {
  border: none;
  border-radius: 4px;
  padding: 6px 15px;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  margin-right: 20px;
  background: none;
}
.appointments--card--button:active {
  transform: scale(0.99);
}
.accept {
  background: #194af5;
  color: #f8f8f8;
}
/* .appointment_date_filter_input {
  position: relative !important;
}
.responsive-calendar {
  position: relative !important;
  font-size: 8px !important;
}

.Calendar__header {
  background-color: red !important;
  position: relative !important;
  display: inline-block;
} */
.wrappar_class {
  position: fixed !important;
  z-index: 100;
}
.Calendar__header {
  background-color: red !important;
}
