.CertificateOptionsCard {
  background: #ffffff;
  border-radius: 10px;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
  cursor: pointer;
}
.CertificateOptionsCard p {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 0.8em;
  letter-spacing: 0.02em;
  color: #757575;
}
.CertificateOptionsModal h1 {
  font-weight: 500;
  font-size: 1.1em;
  color: #404040;
  text-align: center;
  margin-bottom: 1.5em;
}
