.accordion {
  background-color: transparent !important;
}
.accordion-item {
  margin: 7px 0;
  border-radius: 4px;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-button {
  background-color: #fff !important;
  color: #000 !important;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #000000 !important;
  padding: 7px !important;
  /* margin: 7px 0 !important; */
  /* border-radius: 12px !important; */
}
