.createappointment_form {
  position: relative;
  height: 100vh;
  background: linear-gradient(
    46.91deg,
    #eef7ff 8.85%,
    rgba(238, 247, 255, 0) 66.72%,
    rgba(238, 247, 255, 0) 88.22%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.createappointment_form h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #003bd2;
  margin-top: 2em;
}
.createappointment_form p {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.04em;
  color: #b7b7b7;
  text-align: center;
}
.createappointment_box {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create_appointment_left_box {
  min-width: 400px;
  margin: 0 50px;
  /* background-color: red; */
}
.create_appointment_right_box {
  min-width: 400px;
  margin: 0 50px;
}
.create_appointment_right_box input {
  margin-bottom: 10px;
}
.createappointment_box label {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 10px;
}
.createappointment_input {
  padding: 7px 10px;
  border: 1px solid #cacaff;
  border-radius: 4px;
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.02em;
  color: #232526;
  margin-bottom: 40px;
}
.phone_input_box {
  position: relative;
  margin-bottom: 40px;
}
.createappointment_input_phone {
  padding: 7px 10px;
  border: 1px solid #cacaff;
  border-radius: 4px;
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.02em;
  color: #232526;
  position: relative;
  text-indent: 35px;
}
.country_code {
  padding: 2px;
  margin-left: 10px;
  color: 000;
  display: block;
  position: absolute;
  top: 46.5%;
  /* transform: translateY(-50%); */
}

.alertmessage {
  color: red;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  right: 10%;
}
.createappointment_input:focus {
  outline: 1px solid #194af5;
}

.createappointment_input_phone:focus {
  outline: 1px solid #194af5;
}

.gender_box {
  margin-bottom: 30px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.gender_box .checkbox-tools:checked,
.checkbox-tools:not(:checked) {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  visibility: hidden;
}
.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label {
  position: relative;
  display: inline-block;
  padding: 10px;
  width: 120px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  margin: 0 auto;
  margin-left: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
.checkbox-tools:not(:checked) + label {
  border: 1px solid #cacaff;
}
.checkbox-tools:checked + label {
  background-color: #194af5;
  color: #fff;
  border: 1px solid #194af5;
}
.checkbox-tools:not(:checked) + label:hover {
  background-color: #194af5;
  color: #fff;
}
.checkbox-tools:checked + label::before,
.checkbox-tools:not(:checked) + label::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  z-index: -1;
}
.text_field_material {
  width: 130px !important;
  background-color: #fff !important;
  border: 1px solid #cacaff !important;
  border-radius: 4px !important;
  padding: 0 !important;
  margin-top: -6px !important;
}

.material_input .MuiOutlinedInput-input {
  padding: 7px !important;
}
.material_input .MuiOutlinedInput-input::placeholder {
  color: #7d818b !important;
  font-size: 12px !important;
}
.material_input .MuiOutlinedInput-input {
  outline: none !important;
}

.material_input {
  margin-bottom: 40px;
  margin-right: 10px;
  display: inline-block;
}
.custom_select {
  width: 100%;
  padding: 10px 5px;
  border-radius: 4px;
  margin-bottom: 30px;
  border: 1px solid #cacaff;
}
.createappointment_input::placeholder {
  font-size: 15px;
}
.create_appointment_logo {
  position: absolute;
  top: 3%;
  left: 3%;
  max-width: 100%;
}

.auto_select_date_cta {
  width: 120px;
  padding: 10px 10px;
  border: 1px solid #cacaff;
  border-radius: 4px;
  background-color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  color: #6a8ceb;
  margin-left: 5px;
}
