.web--stats--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  grid-template-rows: max-content;
  width: 100%;
}
.web--stat--card {
  background: #f6f6f7;
  border: 1px solid #f6f6f7;
  border-radius: 10px;
  transition: all 200ms ease-in;
  cursor: pointer;
  font-size: 16px;
  padding: 1em;
}

.web--stat--heading {
  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #6d6d6d;
  margin-bottom: 0;
}
.web--stat--value {
  font-size: 2.5em;
  font-weight: 600;
  color: #404040;
  letter-spacing: 0.02em;
}
.web_stat_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 5vh;
}
.web_stat_chart_count {
  color: #2d993e;
}
.web_stat_chart_count2 {
  color: #d92d2d;
}
