.InvoiceModal p {
  font-weight: 600;
  font-size: 1em;
  color: #000000;
  margin-bottom: 1.2em;
}
.invoice_table {
  border: 1px solid #c7c7c7;
  border-radius: 12px;
  width: 100%;
  margin: 1.5em 0;
  padding: 10px;
}
.invoice_table thead tr td {
  font-weight: 600;
}
.invoice_table td,
th {
  text-align: left;
  padding: 10px 0;
  padding-left: 20px;
  border: none;
  width: 200px;
  color: #000;
}
.invoice_table td:first-child,
th:first-child {
  width: 100px;
}
.invoice_sub_header {
  font-weight: 500;
  font-size: 1.1em;
  color: #232526;
  margin-bottom: 0.7em;
}
