.video-stream-back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 30;

}
.video-stream-user{
  display: block;
  position: absolute;
  right: 4vw;
  top: 15vh;
  min-width: 28vw;
  min-height: 16vw;
  background: gray;
  border-radius: 0rem;
  z-index: 30;
}