.video-modal{
    display: flex;
    position: absolute;
    top: 20%;
    left: 10%;
    padding: 5vw 3vw;
    width: 80vw;
    height: 35vw;
    background: white;
    /* opacity: 0.6; */
}
.video-cross{
    position: absolute;
    top: 1vw;
    right: 2vw;
}
.video-modal-left{
    background: white;
    width: 55%;
    min-height: 90%;
    height: auto;
}
.video-stream{
    margin: auto;
    height: 80%;
    width: 90%;
    border-radius: 1rem;
    background: #000;
}
.video-controls{
    display: flex;
    justify-content: center;
}
.video-controls svg{
    margin: 1vw 2vw;
}
.video-modal-right{
    margin: auto;
    /* margin-left: 1vw; */
    /* padding: 2vw; */
    width: 40%;
    /* align-items: center; */
    text-align: center;

}
.video-modal-head{
    font-size: 2vw;
    font-weight: 700;
    margin-bottom: 2vw;
    color: #000;
}
.video-modal-desc{
    font-size: 1.8vw;
    font-weight: 500;
    color: #707272;
    margin-bottom: 2vw;

}
.video-join{
    width: 100%;
    padding: 0.5vw;
    background: #194AF5;
    font-size: 1.5vw;
    font-weight: 500;
    color: white;
    margin-bottom: 2vw;


}