.SuggestionPane {
  background: #fff;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  position: absolute;
  top: 4em;
  width: 100%;
  z-index: 99;
  max-height: 14em;
  min-height: 10em;
  overflow-x: scroll;
}
.suggestion_card {
  padding: 0.7em 1.5em;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #e4e4e4;
}
.suggestion_card:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.suggestion_card h2 {
  font-weight: 400;
  font-size: 1em;
  color: #858585;
  margin-bottom: 0;
  max-width: 250px;
  word-wrap: break-word;
}
.suggestion_card button {
  font-weight: 400;
  font-size: 0.9em;
  color: #fff;
  border-radius: 20px;
  border: none;
  padding: 6px;
  width: 8vw;
}
.pending_cta {
  background: #febb9f;
}
.Upcoming_cta {
  background: #ffd465;
}
.completed_cta {
  background: #70d4a3;
}
