.personal_detail_form {
  padding: 40px 0;
}
.personal_detail_form h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #000000;
}
.personal_detail_form p {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.04em;
  color: #b7b7b7;
  text-align: center;
}
.personal_detail_form label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 10px;
}
.personal_detail_box {
  /* background-color: #194af5; */
  /* padding: 20px; */
  width: 80%;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr;
}
.input_icons {
  position: relative;
  /* margin-left: 50px; */
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
}
.speciality_dropdown_container {
  width: 90%;
  margin: auto;
}
.input_icons input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #7d818b;
}
.stepper_input {
  padding: 8px;
  border: 1px solid #a4a4a4;
  border-radius: 4px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #232526;
}
.stepper_input:focus {
  outline: 1px solid #194af5;
}

.stepper_input5 {
  padding: 8px;
  border: 1px solid #a4a4a4;
  border-radius: 4px;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #232526;
  width: 100%;
}
.stepper_text_area {
  width: 75%;
  margin: auto;
}

.speciality_dropdown_1 {
  width: 220px;
  background-color: #fff !important;
  border: 1px solid #a4a4a4;
  padding: 5px;
  border-radius: 4px;
}
.speciality_placeholder {
  font-size: 12px;
}
.speciality_select__multi-value {
  background-color: #f3f3f3 !important;
}
