.PublishedArticles_container {
  overflow: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  margin: 10px 0;
  height: 50vh;
}
.article_tab_button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.article_tab_button button {
  background: #194af5;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 7px;
  width: 30%;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 20px;
}
