.web_clinic_card {
  display: flex;
  align-items: flex-end;
  width: fit-content;
  margin-bottom: 1vw;
  margin: 1vw;
  background: #f8f8f8;
  padding: 1.5vw 1.5vw;
  border: 0.712519px solid #3f9a9d;
  box-shadow: 5.70015px 5.70015px 14.2504px rgba(0, 0, 0, 0.05);
  border-radius: 14.2504px;
}
.web_clinic_head_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
}
.web_clinic_card_left {
  margin-right: 1vw;
  width: 20vw;
}
.web_clinic_card_left_head {
  width: fit-content;
  margin-bottom: 2vh;
  padding-right: 1vw;
  font-family: "DM Serif Display";
  font-size: 1.5vw;
  font-weight: 600;
  color: #1a1a1a;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.web_clinic_card_left_image {
  margin-bottom: 1vw;
  width: 100%;
  aspect-ratio: 1.5;
  border-radius: 0.5rem;
  background: #155a69;
}
.web_clinic_card_left_details {
  display: flex;
  margin-bottom: 2vw;
}
.web_clinic_card_left_location {
  width: 50%;
}
.web_clinic_card_left_location_head {
  width: fit-content;
  font-family: "DM Sans";
  color: #8b8b8b;
  padding-right: 0.5vw;
  font-size: 0.9vw;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.web_clinic_card_left_head_desc {
  width: 90%;
  color: #484848;
  font-size: 0.9vw;
  font-family: "DM Sans";
  word-wrap: break-word;
  margin-top: 5px;
}
.web_clinic_card_right {
  margin-left: 1vw;
  margin-right: 1vw;
  background-color: #ffffff;
  padding: 1vw 1.5vw;
  width: 18vw;
  height: 45vh;
}
.web_clinic_card_right_head {
  width: fit-content;
  color: #8b8b8b;
  font-weight: 500;
  font-size: 0.8vw;
  padding-right: 1vw;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.web_clinic_visiting_hours {
  margin-top: 1vw;
  font-family: "DM Sans";
  font-size: 0.8vw;
  font-weight: 500;
}

.web_clinic_visiting_days {
  display: flex;
  margin-top: 0.4vw;
}
.web_clinic_visiting_days div {
  font-size: 0.7vw;
  width: fit-content;
  padding: 0.1vw 0.8vw;
  margin-right: 0.5vw;
  color: #3f9a9e;
  background-color: #3f9a9d66;
  border-radius: 2rem;
}
